.InputContainer {
    left: 0;
    right: 0;
    height: 30px;
    border-radius: 8px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.InputContainer input {
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #dddddd;
    text-indent: 0px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 0 36px 0 12px;
    -webkit-transition: background-color .8s; /* Safari */
    transition: background-color .8s;
    font-size: 14px;
}

.InputContainer i {
    position: absolute !important;
    right: 12px;
    top: 9px;
    color: #333;
}

.InputContainer input:focus {
    outline: none;
    background-color: #efefef;
    -webkit-transition: background-color .8s;
    transition: background-color .8s
}



