.ListContainer {
    width: 100%;
}

.List {
    width: 100%;
    padding: 0;
}

.ListItem {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    display: table;
    border-radius: 8px;
    cursor: pointer;
}

.ListItem.small {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background: none;
}

.ListItem.small:hover {
    background-color: #444;
}

.ListItem.small:hover span {
    color: white;
}

.ListItem.small span {
    font-size: 14px;
    vertical-align: middle;
    color: #777;
    height: 100%;
    display: table-cell;
}